{% extends 'base.html' %}

{% block customcss %}
<style>
    .add-headline {
        margin: 20px;
        text-align: center;
    }

    .add-btn {
        display: block;
        margin: 40px auto;
        padding: 8px 16px;  
    }
    .add-btn:hover {
        color: lightgray;
    }

    .link-list {
        display: block;
        text-align: center;
        margin: 20px;
        color: black;
    }
    .link-list:hover {
        color: lightgray;
    }
</style>
{% endblock customcss %}

{% block content %}
<div class="add-wrapper">
    <h3 class="add-headline">新規登録</h3>
    <form action="" method="POST">{% csrf_token %}
        <p>タイトル</p>
        <p>{{ form.title }}</p>
        <br>
        <p>内容</p>
        <p>{{ form.content }}</p>
        <br>
        <p>ユーザー名</p>
        <p>{{ form.author }}</p>
        <button class="add-btn" type="submit">登録</button>
    </form>
    <a class="link-list" href="{% url 'list' %}">ホームに戻る</a>
</div>
{% endblock content %}