{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'todo/css/vendors/ress.css' %}">
    <link rel="stylesheet" href="{% static 'todo/css/base.css' %}">

    {% block customcss %}
    {% endblock customcss %}
</head>
<body>
    <div class="grobal-container">
        <header class="header">
            <div class="header__inner">
                <div class="header__left">
                    <h2><a href="{% url 'list' %}">To Do App</a></h2>
                </div>
                <nav class="header__right">
                    <span class="username">ユーザー名：{{ user.get_username }}</span>
                    <a href="{% url 'logout' %}" class="link-logout">ログアウト</a>
                </nav>
            </div>
            {% if user.is_authenticated %}
            {% endif %}
        </header>
        <div class="container">
            <main class="content-wrapper">
                {% block content %}
                {% endblock content %}
            </main>
        </div>
        <div class="hypo"></div>
        <footer class="footer">
            <div class="footer__inner">
                <span class="footer__logo">To Do App</span>
                <span>Created By Shunpei Takada</span>
            </div>
        </footer>
    </div>
</body>
</html>