{% extends 'base.html' %}

{% block customcss %}
<style>
    .detail-wrapper {
        padding: 40px;
    }

    .detail-headline {
        text-align: center;
    }

    .detail-date {
        display: inline-block;
        margin-right: 20px;
    }

    .detail-author {
        display: inline-block;
    }
    
    .link-edit {
        display: block;
        text-align: center;
        margin: 40px 0;
        color: black;
    }

    .link-list {
        display: block;
        text-align: center;
        margin: 20px;
        color: black;
    }
    .link-list:hover {
        color: lightgrey;
    }
</style>
{% endblock customcss %}

{% block content %}
<div class="detail-wrapper">
    <h3 class="detail-headline">todo詳細</h3>
    <br>
    <ul>
        <li>タイトル：</li>
        <li>{{ object.title }}</li>
        <br>
        <li>内容：</li>
        <li>{{ object.content }}</li>
        <br>
        <li>進捗：</li>
        {% if is_done == True %}
        <li>完了</li>
        {% else %}
        <li>未完了</li>
        {% endif %}
        <br>
        <li class="detail-date">更新日時：{{ object.updated_date }}</li>
        <li class="detail-author">更新者：{{ object.author }}</li>
    </ul>
    <a class="link-edit" href="{% url 'edit' object.pk %}"><button>編集</button></a>
    <a class="link-list" href="{% url 'list' %}">ホームに戻る</a>
</div>
{% endblock content %}