{% extends 'base.html' %}

{% block customcss %}
<style>
    .edit-headline {
        margin: 20px;
    }
    .edit-date {
        margin-right: 20px;
    }
    .edit-btn {
        display: block;
        margin: 20px auto;
        padding: 8px 16px;
    }
    .edit-btn:hover {
        color: lightgray;
    }


    .link-list {
        display: block;
        text-align: center;
        margin: 20px;
        color: black;
    }
    .link-list:hover {
        color: lightgrey;
    }
</style>
{% endblock customcss %}

{% block content %}
<div class="edit-wrapper">
    <h3 class="edit-headline">todo編集</h3>
    <br>
    <form action="" method="POST" class="form-wrapper">{% csrf_token %}
        {{ form.as_p }}
        <br>
        <span class="edit-date">更新日時：{{ object.updated_date }}</span>
        <span class="edit-author">更新者：{{ object.author }}</span>
        <input class="edit-btn" type="submit" value="更新">
    </form>
    <br>
    <a class="link-list" href="{% url 'list' %}">ホームに戻る</a>
</div>
{% endblock content %}