{% extends 'base.html' %}

{% block customcss %}
<style>
    .edit-wrapper {
        padding: 40px;
    }

    .edit-headline {
        text-align: center;
    }

    .edit-date {
        margin-right: 20px;
    }

    .btn-edit {
        display: block;
        margin: 40px auto;
    }

    .link-list {
        display: block;
        text-align: center;
        color: black;
    }
    .link-list:hover {
        color: lightgrey;
    }

    .link-delete {
        text-decoration: none;
    }
    .btn-delete {
        display: block;
        margin: 0 auto;
        background-color: tomato;
        color: #fff;
    }
</style>
{% endblock customcss %}

{% block content %}
<div class="edit-wrapper">
    <h3 class="edit-headline">todo編集</h3>
    <br>
    <form action="" method="POST" class="form-wrapper">{% csrf_token %}
        <p>タイトル</p>
        <p>{{ form.title }}</p>
        <br>
        <p>内容</p>
        <p>{{ form.content }}</p>
        <br>
        <p>完了{{ form.is_done }}</p>
        <br>
        <span class="edit-date">更新日時：{{ object.updated_date }}</span>
        <span class="edit-author">更新者：{{ object.author }}</span>
        <br>
        <button class="btn-edit" type="submit">更新</button>
    </form>
    {% if user.is_superuser %}
    <a class="link-delete" href="{% url 'delete' object.pk %}"><button class="btn btn-delete">削除</button></a>
    {% endif %}
    <br>
    <a class="link-list" href="{% url 'list' %}">ホームに戻る</a>
</div>
{% endblock content %}