{% extends 'base.html' %}

{% block customcss %}
<style>
    .edit-wrapper {
        background-color: lightsalmon;
    }
    .form-wrapper {
        width: 80%;
        margin: auto;
        background-color: lightskyblue;
    }
</style>
{% endblock customcss %}

{% block content %}
<div class="edit-wrapper">
    <p>todo詳細 (edit view)</p>
    <br>
    <form action="" method="POST" class="form-wrapper">{% csrf_token %}
        <p>form</p>
        <label for="title">タイトル</label>
        <input type="text" name="title" id="title">
        <br>
        <label for="content">内容</label>
        <input type="text" name="content" id="content">
        <br>
        <button type="submit">登録</button>
    </form>
    <br>
    <ul>
        <li>更新日時：{{ object.updated_date }}</li>
        <li>更新者：{{ object.author }}</li>
    </ul>
</div>
{% endblock content %}