{% extends 'base.html' %}

{% block customcss %}
<style>
</style>
{% endblock customcss %}

{% block content %}
<div class="list-wrapper">
    <p>todo一覧 (list view)</p>
    <br>
    <a href="{% url 'add' %}"><button>新規登録 (addへ)</button></a>
    <table border="1">
        <tr>
            <th>id</th>
            <th>タイトル</th>
            <th>更新日時</th>
            <th>更新者</th>
            <th></th>
        </tr>
        {% for item in object_list %}
        <tr>
            <td>{{ item.pk }}</td>
            <td><a href="{% url 'detail' item.pk %}">{{ item.title }}</a></td>
            <td>{{ item.updated_date }}</td>
            <td>{{ item.author }}</td>
            <td><a href="{% url 'edit' item.pk %}"><button>編集 (editへ)</button></a></td>
        </tr>
        {% endfor %}
    </table>
    <p>以下、繰り返しですべて表示</p>
</div>
{% endblock content %}