$color-icon: royalblue;
$color-hover: lightgrey;
$color-border: black;

.btn-add {
    float: right;
    margin: 20px;
}

.add-icon {
    color: $color-icon;
    font-size: 40px;
    &:hover {
        color: $color-hover;
    }
}

.list-wrapper {
    padding: 20px 0;
}

.list-table {
    margin: 0 auto;
    width: 100%;
}

.list-headline {
    display: inline-block;
    margin: 20px;
}

.list {
    text-align: center;
    padding: 20px;
    margin: 0 auto;
    border-collapse: separate;
    border-spacing: 0;
}

.list-th {
    border-bottom: 2px solid $color-border;
}

.list-td {
    border-bottom: 1px solid $color-border
}

.link-detail {
    color: black;
    &:hover {
        color: $color-hover;
    }
}

.create-icon {
    color: $color-icon;
    &:hover {
        color: $color-hover;
    }
}