$color-icon: royalblue;
$color-hover: lightgrey;
$color-border: black;

.list-wrapper {
    padding: 20px 0;
}

.list-top {
    text-align: center;

    & .list-headline {
        display: inline-block;
        margin: 20px 20px 20px 100px; //ボタン分 (80px)、左のmarginを追加
        line-height: 40px;
    }
    
    & .btn-add {
        float: right;
        margin: 20px;
    }
    
    & .add-icon {
        color: $color-icon;
        font-size: 40px;
        &:hover {
            color: $color-hover;
        }
    }
}

.list-table {
    margin: 0 auto;
    width: 100%;
}

.list {
    text-align: center;
    padding: 20px;
    margin: 0 auto;
    border-collapse: separate;
    border-spacing: 0;
}

.list-th {
    border-bottom: 2px solid $color-border;
}

.list-td {
    border-bottom: 1px solid $color-border
}

.link-detail {
    color: black;
    &:hover {
        color: $color-hover;
    }
}

.create-icon {
    color: $color-icon;
    &:hover {
        color: $color-hover;
    }
}